# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Pasta de backup pessoal (da sua estrutura)
/backups/

# MemoryCaptures can be huge
/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the asset itself is ignored
!/[Aa]ssets/**/*.meta

# Visual Studio / Rider
.vs/
.vscode/
[Ee]xported[Oo]bj/
.idea/
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider
*.sln.DotSettings.user

# Mac
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db